.Setting
{
    width: 300px;
}
.profile
{
    font-weight: 600;
}
.profileLink
{
    color: black !important;
    
}
.profileLink:hover
{
    background:#6c757d !important ;
    color: #17a2b8 !important;
}
.left
{
    color: black !important;
}
.right
{
    color: black !important;
}